body{
 background-color: chocolate;
}
#imi{
    color: crimson;
}
#sam{
    color: rgb(255, 255, 255);
}
#chill{
    color: rgb(114, 18, 114);
}
#technoblade{
    color: rgb(51, 31, 78);
}
#never{
    color: rgb(0, 255, 242);
}
#dies{
    color: gold;
}
#camera,#result
{ width:300px ;
    height:300px ;
border-style: outset;
border-color: lightsteelblue;
border-width: unset;
border-image-width: unset;
}